[core]
  pager = delta
	excludesfile = /home/ypc/.config/.gitignore
[pager]
  status = true
  #difftool = true # difft
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  line-numbers = true
  features = decorations
  syntax-theme = Nord
  navigate = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[merge]
  conflictstyle = diff3
[url "ssh://git@pinhome-gitlab/"]
  insteadOf = https://gitlab.com/pinvest/*
[user]
	name = Yofriadi Yahya
[push]
	default = current
[pull]
  default = current
	rebase = true
[diff]
  #external = difft # still not integrate with delta
  #tool = difftastic # difft
  colorMoved = default
#[difftool]
#  prompt = false # difft
#[difftool "difftastic"]
#  cmd = difft "$LOCAL" "$REMOTE" # difft
[alias]
  #dft = difftool
  #dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
  # use fzf to list changes and add it with tab key, then enter
  fza = "!git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs -0 git add"
  # removes local branches that don't exist on the remote.
  gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
