[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    line-numbers = true
    features = decorations
    syntax-theme = Nord
    navigate = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com/
[user]
	name = Yofriadi Yahya
[push]
	default = current
[pull]
	default = current
